<div class="row justify-content-center mb-4">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <%= form_tag(weather_index_path, method: :get, class: 'd-flex') do %>
          <%= text_field_tag :city, params[:city], class: "form-control me-2", placeholder: "Enter city name..." %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if params[:city] && @weather %>
  <h2 class="mb-4">Search Results</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card weather-card">
        <div class="card-body">
          <h5 class="card-title"><%= @weather['name'] %></h5>
          <div class="d-flex align-items-center mb-3">
            <h2 class="mb-0 me-3"><%= @weather['main']['temp'].round %>°C</h2>
            <img src="http://openweathermap.org/img/w/<%= @weather['weather'][0]['icon'] %>.png" 
                 alt="Weather icon" class="weather-icon">
          </div>
          <p class="card-text"><%= @weather['weather'][0]['description'].capitalize %></p>
          <%= link_to "View Details", weather_path(@weather['name']), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2 class="mt-5 mb-4">Major Capital Cities</h2>
<div class="row">
  <% @capitals_weather.each do |weather| %>
    <div class="col-md-4 mb-4">
      <div class="card weather-card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= weather['name'] %></h5>
          <div class="d-flex align-items-center mb-3">
            <h2 class="mb-0 me-3"><%= weather['main']['temp'].round %>°C</h2>
            <img src="http://openweathermap.org/img/w/<%= weather['weather'][0]['icon'] %>.png" 
                 alt="Weather icon" class="weather-icon">
          </div>
          <p class="card-text"><%= weather['weather'][0]['description'].capitalize %></p>
          <%= link_to "View Details", weather_path(weather['name']), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>